<!DOCTYPE html>
<html>
<head>
  <title>FdurLink</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #000">

<div class="welcome_image" style="display: block;height:100%;width:100%;min-width:1000px;min-height:646px;">
  <%= image_tag "sessions/first.jpg", id: "bg_img_first", style: "display:none;width:100%;height:100%;margin:0;" %>
  <%= image_tag "sessions/second.jpg", id: "bg_img_second" %>
</div>
<div class="welcome_main">
  <div class="welcome_flame">
    <div class="welcome_tip" style="font-size: 22px;font-weight: 600;color: #666666">
      我穿越人群轰鸣，来到你家楼下，大声喊着我爱你，你流着泪说不搞基，炸成了天边一朵红霞！
    </div>
  <%= form_for(:session, url: sessions_path) do |f| %>
  <div class="welcome_signin">
    <div class="welcome_sign_border">
      <span>登录</span>
    </div>
    <input type="text" dataflag="welcome_fake_input" class="welcome_sign_input" value="请输入邮箱" readonly='readonly' />
    <%= f.text_field :email ,dataflag: "welcome_real_input",class: "welcome_sign_input"%>
    <input type="text" dataflag="welcome_fake_input" value="请输入密码" class="welcome_sign_input welcome_signin_button" readonly='readonly'  />
    <%= f.password_field :password, dataflag: "welcome_real_input", class: "welcome_sign_input welcome_signin_button" %>
    <%= f.submit '登陆', class: "button_sign_in base_button"%>
  </div>
  <% end %>

    <div class="welcome_signup">
      <div class="welcome_sign_border">
        <span>注册</span>
      </div>
      <%= form_for(:user, url: users_path, method: :post) do |f| %>
      <input type="text" dataflag="welcome_fake_input" class="welcome_sign_input" value="请输入邮箱" readonly='readonly' />
      <%= f.text_field :email,dataflag: "welcome_real_input", class: "welcome_sign_input"  %>
      <!--<input type="text" dataflag="welcome_real_input" class="welcome_sign_input"  />-->
      <input type="text" dataflag="welcome_fake_input" value="请输入密码" class="welcome_sign_input" readonly='readonly' />
      <%= f.password_field :password, dataflag:"welcome_real_input", class:"welcome_sign_input"%>
      <!--<input type="password" dataflag="welcome_real_input" class="welcome_sign_input" />-->
      <input type="text" dataflag="welcome_fake_input" value="请再次输入密码" class="welcome_sign_input" readonly='readonly' />
      <%= f.password_field :password_confirmation, dataflag: "welcome_real_input", class: "welcome_sign_input"%>
      <!--<input type="password" dataflag="welcome_real_input" class="welcome_sign_input"  />-->
      <%= f.submit "注册新的账号", class: "button_register base_button" %>
      <!--<a class="button_register base_button" tabindex="0">注册新的账号</a>-->
      <% end %>
    </div>
  </div>
</div>

</body>
</html>